<app-header></app-header>
<div class="container my-3">
    <h1>{{title}}</h1>
    <h2>{{curso}}</h2>
    <h3>{{texto}}</h3>
    <h4>{{numero}}</h4>
    <h4>{{texto2}}</h4>
    <h4>{{booleano}}</h4>
    <h1>{{title}}</h1>
    <h2>{{curso}}</h2>
    <h3>{{texto}}</h3>
    <h4>{{numero}}</h4>
    <h4>{{texto2}}</h4>
    <h4>{{booleano}}</h4>
    <app-directiva></app-directiva>
    <app-cliente></app-cliente>
    <app-empleado></app-empleado>
    <app-producto></app-producto>
    //domicilio
</div>
<app-footer></app-footer>