<h1 style='text-align:center'>Productos</h1>

<div class="card border-primary mb-3">
    <div class="card-header">Productos</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de productos</h5>

        <div>
            <button class="my-2 text-left" type="button" [routerLink]="['/productos/formproductos']">
                Agregar Producto
            </button>
        </div>

        <div *ngIf="producto?.length == 0" class="alert alert-info">Hay registros</div>

        <table class="table table-bordered table-striped" *ngIf="producto?.length>0" id="htmlData3">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Valor por Unidad</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of producto">
                    <td>{{producto.idProducto}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.codigo}}</td>
                    <td>{{producto.valorUnidad}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td>
                        <button type="button" [routerLink]="['/productos/formproductos',producto.idProducto]" class="btn btn-primary btn-sm">
                            Editar
                        </button>
                    </td>

                    <td>
                        <button type="button" name="eliminar" (click)="delete(producto)" class="btn btn-danger btn-sm">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
            <div>
                <button class="btn btn-danger btn-sm" (click)="downloadPDF()">Descargar PDF</button>
            </div>
        </table>
    </div>
</div>