<h1 style='text-align:center'>Empleados</h1>

<div class="card mb-3" style="border-color: #f8a561;">
    <div class="card-header">Empleados</div>
    <div class="card-body text-primary">
        <h5 class="card-title" style="color: #f8a561;">Listado de empleados</h5>

        <div>
            <button class="my-2 text-left" type="button" [routerLink]="['/empleados/formempleados']">
                Agregar Empleado
            </button>
        </div>

        <div *ngIf="empleado?.length == 0" class="alert alert-info">Hay registros</div>

        <table class="table table-bordered table-striped" *ngIf="empleado?.length>0" id="htmlData2">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Salario</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleado">
                    <td>{{empleado.idEmpleado}}</td>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.cedula}}</td>
                    <td>{{empleado.telefono}}</td>
                    <td>{{empleado.correo}}</td>
                    <td>{{empleado.salario}}</td>

                    <td>
                        <button type="button" [routerLink]="['/empleados/formempleados',empleado.idEmpleado]" class="btn btn-primary btn-sm" style="background-color: #f8a561; border-color: #f8a561;">
                            Editar
                        </button>
                    </td>
                    <td>
                        <button type="button" name="eliminar" (click)="delete(empleado)" class="btn btn-danger btn-sm">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
            <div>
                <button class="btn btn-danger btn-sm" (click)="downloadPDF()">Descargar PDF</button>
            </div>
        </table>
    </div>
</div>