<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de clientes</h5>

        <div>
            <button class="my-2 text-left" type="button" [routerLink]="['/clientes/formcliente']">
                Agregar cliente
            </button>
        </div>

        <div *ngIf="clientes?.length == 0" class="alert alert-info">Hay registros</div>

        <table class="table table-bordered table-striped" *ngIf="clientes?.length>0" id="htmlData">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Pago</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.idCliente}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.cedula}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>{{cliente.correo}}</td>
                    <td>{{cliente.pago}}</td>

                    <td>
                        <button type="button" [routerLink]="['/clientes/formcliente',cliente.idCliente]" class="btn btn-primary btn-sm">
                            Editar
                        </button>
                    </td>

                    <td>
                        <button type="button" name="eliminar" (click)="delete(cliente)" class="btn btn-danger btn-sm">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>

            <div>
                <button class="btn btn-danger btn-sm" (click)="downloadPDF()">Descargar PDF</button>
            </div>
        </table>

    </div>
</div>